<div class="container">
  <div class="p-grid p-dir-col">
    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="p-col ui-fluid">
      <label for="descricao">Descrição</label>
      <input type="text" id="descricao" pInputText />
    </div>
    <div class="p-col-12">
      <label style="display: block;" for="vencimento">Vencimento</label>
      <input type="text" id="vencimento" pInputText style="width: 95px;"/>
  
      <label for="ate">até</label>
      <input type="text" id="ate" pInputText style="width: 95px;" />
    </div>
    <div class="p-col-12">
      <p-button label="Pesquisar"></p-button>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="lancamentos">
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-data">Vencimento</th>
            <th class="col-data">Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-options"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.pessoa }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td class="col-data">{{ lancamento.dataVencimento }}</td>
            <td class="col-data">{{ lancamento.dataPagamento }}</td>
            <td class="col-valor-content">{{ lancamento.valor }}</td>
            <td><i class="pi pi-pencil"></i><i class="pi pi-trash"></i></td>
          </tr>
        </ng-template>
        
      </p-table>
    </div>
  </div>
</div>