<div class="container">
  <div class="p-grid p-dir-col">
    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="p-col ui-fluid">
      <label for="descricao">Descrição</label>
      <input type="text" id="descricao" pInputText />
    </div>
    <div class="p-col-12">
      <label style="display: block;" for="vencimento">Vencimento</label>
      <input type="text" id="vencimento" pInputText style="width: 95px;" />

      <label for="ate">até</label>
      <input type="text" id="ate" pInputText style="width: 95px;" />
    </div>
    <div class="p-col-12">
      <p-button label="Pesquisar"></p-button>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <p-table [value]="lancamentos" [columns]="cols" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} - {last} de {totalRecords}" [responsive]="true">
        <ng-template pTemplate="caption">
          Lançamentos
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" ngClass="{{col.class}}">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.pessoa }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td class="col-data">{{ lancamento.dataVencimento }}</td>
            <td class="col-data">{{ lancamento.dataPagamento }}</td>
            <td class="col-valor-content">
              <span [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'" pTooltip="{{lancamento.tipo}}"
                tooltipPosition="bottom">{{ lancamento.valor }}</span>
            </td>
            <td ngClass="col-options-content">
              <p-button ngClass="btn-options" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="bottom"></p-button>
              <p-button ngClass="btn-options" icon="pi pi-trash" pTooltip="Remover" tooltipPosition="bottom"></p-button>
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>

    <div class="p-col-12">
      <p-button label="Novo Lançamento" styleClass="ui-button-info"></p-button>
    </div>
  </div>
</div>